body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    
}

.header-g1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    padding: 10px 20px;
}

.header-g1 img {
    height: 50px;
    margin-right: auto; 
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav1 ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}


.nav1 ul{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.nav1 li{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.nav1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.main1 {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.main1 > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: red;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 5px blue;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.main1 > div:hover {
    background-color: blue;
    transform: scale(1.05);
}

.main1 section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: auto;
    padding-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    align-items: center;
    
}

.main1 h1 {
    color: blue;
    margin-bottom: 10px;
}

.main1 h2 {
    color: blue;
    margin-bottom: 10px;
}

.main1 ul {
    padding-left: 20px;
    margin: 10px;
}

.f1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: white;
}


.f1 a {
    color: yellow;
    text-decoration: none;
}

.f1 {
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: white;
}

.f1 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.f1 img {
    width: 40px;  
    height: 40px;
    transition: 0.3s;
}

.f1 img:hover {
    transform: scale(1.1); 
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 4px 10px;
    width: 250px;
    transition: 0.3s;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px 10px;
    width: 100%;
    border-radius: 25px 0 0 25px;
}

.search-bar button {
    border: none;
    
    color: white;
    padding: 8px 12px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: 0.3s;
}

